<table style="background-color: transparent;" class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cartItems">
        <td>{{ cartItem.product?.productName }}</td>
        <td>{{ getCategoryName(cartItem) }}</td>
        <td>${{ cartItem.product?.unitPrice }}</td>
        <td>{{ cartItem.quantity }}</td>
        <td>${{ (cartItem.product?.unitPrice ?? 0) * cartItem.quantity }}</td>
        <td>
           <a (click)="addToCartItem(cartItem)"><i style="font-size: 18px;" class="fa-solid fa-cart-plus"></i></a>
          <button
            (click)="removeFromCart(cartItem)"
            type="button"
            class="btn btn-delete btn-sm"
          ><i class="fa-solid fa-trash-can"></i>
            Remove From Cart</button
          ><a (click)="deleteFromCartItem(cartItem)"><i style="font-size: 20px;" class="fa-solid fa-square-minus"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div style="margin-bottom:30px" class="card-body">
    <h5 style="color:white" class="card-title">Cart Summary</h5>
    <p class="card-text"></p>
    <ul class="list-group">
      <li class="list-group-item border border-light">
        <small>
          <span class="float-start">Number of added products:</span>
          <span class="float-end"
            ><strong>{{ cartItems.length }} products</strong></span
          >
        </small>
      </li>
      <!-- <li class="list-group-item border border-light">
              <small>
                  <span class="float-start">Toplam kiralama süresi: </span>
                  <span class="float-end">
                      <strong>
                      </strong>
                  </span>
              </small>
          </li> -->
      <li class="list-group-item border border-light">
        <small>
          <span class="float-start">Total Payment: </span>
        </small>
        <span class="float-end text-danger">
          <strong>{{ getTotalAmount() | currency}}</strong>
        </span>
      </li>
      <li class="list-group border border-light">
        <br />
        <span class="d-flex flex-column float-end">
          <a    class="btn btn-success">Confirm Cart</a>
        </span>
        <span>
            <a routerLink="/products" class="btn back-button"><i class="fa-solid fa-cart-shopping"></i>Continue the shopping</a>
        </span>
      </li>
    </ul>
  </div>
  
