<div class="wrapper-round">
  <div class="wrapper">
    <form [formGroup]="registerForm">
      <h2>Register</h2>
      <div class="input-field">
        <input type="text" formControlName="firstName" required />
        <label>Enter your first name</label>
      </div>
      <div class="input-field">
        <input type="text" formControlName="lastName" required />
        <label>Enter your last name</label>
      </div>
      <div class="input-field">
        <input type="email" formControlName="email" required />
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" formControlName="password" required />
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember" />
          <p>Remember me</p>
        </label>
      </div>
      <button routerLink="/login" (click)="register()">Register</button>
      <div class="register">
        <p>Redirect to Login Page -> <a routerLink="/login">Sign In</a></p>
      </div>
    </form>
  </div>
</div>
